*
{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
 }

#page_block
{
    width: 100%;
    margin: auto;
        
}


header
{
    display: flex;
    align-items: center;  
    justify-content: space-between;
}

#logo_container
{
    margin-left: 15px;
    margin-top: 5px;
    
}

#logo_container img
{
    max-width: 125px;
}

.header_right
{
    margin-top: 5px;
    display: flex;
    flex-wrap: nowrap;
}

header nav ul

{
    /* margin-top: 25px; */
    display: flex;
    list-style-type: none;
    /* justify-content: ; */
    /* width: 320px;  */
}

header nav li
{
   margin-right: 55px;
}

header nav a
{
    font-size: ;
    color: black;
    padding-bottom:15px ;
    text-decoration: none ;
}

header nav a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    font-weight: bold;
}

header .inscription
{
    /* margin-top: 25px; */
    /* margin-right: 50px; */
    color: #0065FC;
    background: none;
    border: none;
    font-weight: bold;
    /* justify-content: flex-end; */
}

h1
{
font-weight: bold;
font-size: 1.2em;
}

#search_area
{
    display: flex;
    flex-wrap: nowrap;
}

#search_area form
{
    display: flex;
}

#search_area i

{
    background-color: #F2F2F2;
    padding: 12px;
    border-radius: 10px 0px 0px 10px;
    
}

#search_area input
{
    width: 175px;
    height: 36px;
    border-color: #F2F2F2;
    border-style: solid;
}

#search_area button
{
    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
    height: 42px;
    color: white;
    border-style: solid;
    border: none;

}

#filters
{
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    height: 60px;
    align-items: center;
      
}

#filters .option

{
    display: flex;
    align-items: center;
    margin-left: 40px;
    border-radius: 35px;
    /* border-radius: 50%; */
    flex-wrap: nowrap;
    border-color: #F2F2F2;
    border-style: solid;
    padding-right: 25px;
    white-space: nowrap;
    
}

.option i

{
    color:#0065FC ;
    border-radius: 35px;
    /* border-style: solid; */
    background-color: #DEEBFF;
    padding: 20px;
    margin-right: 15px;
    width: 17px; 
}

#rentals_number
{
    display: flex;
    align-items: center;
    white-space: nowrap

}

#rentals_number i

{
    color:#0065FC ;
    border-radius: 35px 35px 35px 35px;
    /* border-style: solid; */
    background-color: #DEEBFF;
    padding: 20px;
    margin-right: 15px;
    width: 17px;
}
