*
{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;

}

#page_block
{
    width: 100%;
    margin: auto;
        
}


header
{
    display: flex;
    align-items: center;  
    /* margin: 150px 10px 25px 50px; */

}
header #logo_container
{
    flex-grow: 7;
    margin-left: 50px;
    margin-top: 25px;
    
}

header #logo_container img
{
    max-width: 150px;
}

header nav ul

{
    flex-grow:3;
    margin-top: 25px;
    display: flex;
    list-style: none;
    /* justify-content: space-between; */
    width: 320px;


}

header nav li
{
   margin-right: 15px;
   
}

header nav a
{
    font-size: ;
    color: black;
    padding-bottom:15px ;
    text-decoration: none ;
    
}

header nav a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    font-weight: bold;
}

header .inscription

{
    margin-top: 25px;
    flex-grow: 1;
    color: #0065FC;
    background: none;
    border: none;
    font-weight: bold;
}